@use './_reset';
@use './_mixin' as *;
@use './_common' as c;

.wrapper{
    background: #fff;
    transition: all .3s linear;
}


.wrapper:has(#style_1.on) .anchor_list .anchor_bg2{
    opacity: 0;
}
.wrapper:has(#style_1.on) .mv_circle .mvbg-change1{
    opacity: 1;
}
.wrapper:has(#style_1.on) {
    background: #fff;
}

.wrapper:has(#style_2.on) .anchor_list .anchor_bg2{
    opacity: 1;
}
.wrapper:has(#style_2.on) .mv_circle .mvbg-change1{
    opacity: 0;
}
.wrapper:has(#style_2.on) {
    background: c.$bg;
}

.wrapper:has(#style_3.on) .anchor_list .anchor_bg2{
    opacity: 0;
}
.wrapper:has(#style_3.on) .mv_circle .mvbg-change1{
    opacity: 1;
}
.wrapper:has(#style_3.on) {
    background: #fff;
}

.wrapper:has(#style_4.on) .anchor_list .anchor_bg2{
    opacity: 1;
}
.wrapper:has(#style_4.on) .mv_circle .mvbg-change1{
    opacity: 0;
}
.wrapper:has(#style_4.on) {
    background: c.$bg;
}


.wrapper:has(#style_5.on) .anchor_list .anchor_bg2{
    opacity: 0;
}
.wrapper:has(#style_5.on) .mv_circle .mvbg-change1{
    opacity: 1;
}
.wrapper:has(#style_5.on) {
    background: #fff;
}

.wrapper:has(#style_6.on) .anchor_list .anchor_bg2{
    opacity: 1;
}
.wrapper:has(#style_6.on) .mv_circle .mvbg-change1{
    opacity: 0;
}
.wrapper:has(#style_6.on) {
    background: c.$bg;
}


.wrapper:has(#style_7.on) .anchor_list .anchor_bg2{
    opacity: 0;
}
.wrapper:has(#style_7.on) .mv_circle .mvbg-change1{
    opacity: 1;
}
.wrapper:has(#style_7.on) {
    background: #fff;
}