@use './_reset';
@use './_mixin' as *;
@use './_common' as c;

.wrapper{
    background: #fff;
    transition: all .3s linear;
}


.wrapper:has(#style_1.on) .right_inner .anchor_list li:nth-child(1) .anchor_item img{
    filter: grayscale(0%);
}
.wrapper:has(#style_1.on) .right_inner .anchor_list li:not(:nth-child(1)) .anchor_item img{
    filter: grayscale(100%);
}
.wrapper:has(#style_1.on) .anchor_list .anchor_bg2{
    opacity: 0;
}
.wrapper:has(#style_1.on) .mv_circle .mvbg-change1{
    opacity: 1;
}
.wrapper:has(#style_1.on) {
    background: #fff;
}

.wrapper:has(#style_2.on) .right_inner .anchor_list li:nth-child(2) .anchor_item img{
    filter: grayscale(0%);
}
.wrapper:has(#style_2.on) .right_inner .anchor_list li:not(:nth-child(2)) .anchor_item img{
    filter: grayscale(100%);
}
.wrapper:has(#style_2.on) .anchor_list .anchor_bg2{
    opacity: 1;
}
.wrapper:has(#style_2.on) .mv_circle .mvbg-change1{
    opacity: 0;
}
.wrapper:has(#style_2.on) {
    background: c.$bg;
}

.wrapper:has(#style_3.on) .right_inner .anchor_list li:nth-child(3) .anchor_item img{
    filter: grayscale(0%);
}
.wrapper:has(#style_3.on) .right_inner .anchor_list li:not(:nth-child(3)) .anchor_item img{
    filter: grayscale(100%);
}
.wrapper:has(#style_3.on) .anchor_list .anchor_bg2{
    opacity: 0;
}
.wrapper:has(#style_3.on) .mv_circle .mvbg-change1{
    opacity: 1;
}
.wrapper:has(#style_3.on) {
    background: #fff;
}

.wrapper:has(#style_4.on) .right_inner .anchor_list li:nth-child(4) .anchor_item img{
    filter: grayscale(0%);
}
.wrapper:has(#style_4.on) .right_inner .anchor_list li:not(:nth-child(4)) .anchor_item img{
    filter: grayscale(100%);
}
.wrapper:has(#style_4.on) .anchor_list .anchor_bg2{
    opacity: 1;
}
.wrapper:has(#style_4.on) .mv_circle .mvbg-change1{
    opacity: 0;
}
.wrapper:has(#style_4.on) {
    background: c.$bg;
}

.wrapper:has(#style_5.on) .right_inner .anchor_list li:nth-child(5) .anchor_item img{
    filter: grayscale(0%);
}
.wrapper:has(#style_5.on) .right_inner .anchor_list li:not(:nth-child(5)) .anchor_item img{
    filter: grayscale(100%);
}

.wrapper:has(#style_5.on) .anchor_list .anchor_bg2{
    opacity: 0;
}
.wrapper:has(#style_5.on) .mv_circle .mvbg-change1{
    opacity: 1;
}
.wrapper:has(#style_5.on) {
    background: #fff;
}


.wrapper:has(#style_6.on) .right_inner .anchor_list li:nth-child(6) .anchor_item img{
    filter: grayscale(0%);
}
.wrapper:has(#style_6.on) .right_inner .anchor_list li:not(:nth-child(6)) .anchor_item img{
    filter: grayscale(100%);
}
.wrapper:has(#style_6.on) .anchor_list .anchor_bg2{
    opacity: 1;
}
.wrapper:has(#style_6.on) .mv_circle .mvbg-change1{
    opacity: 0;
}
.wrapper:has(#style_6.on) {
    background: c.$bg;
}


.wrapper:has(#style_7.on) .right_inner .anchor_list li:nth-child(7) .anchor_item img{
    filter: grayscale(0%);
}
.wrapper:has(#style_7.on) .right_inner .anchor_list li:not(:nth-child(7)) .anchor_item img{
    filter: grayscale(100%);
}
.wrapper:has(#style_7.on) .anchor_list .anchor_bg2{
    opacity: 0;
}
.wrapper:has(#style_7.on) .mv_circle .mvbg-change1{
    opacity: 1;
}
.wrapper:has(#style_7.on) {
    background: #fff;
}