<p class="lead pc_lead ja_m pc">
    この春、ワードローブに加えたいのは<br>
    着回しが効く“カワイイ” アイテム。<br>
    今回は、そんな推せる7型を<br>
    スタイルサンプルとともにご紹介。<br>
    洗えるジャケットからリバーシブルのブラウスまで<br>
    注目の新作をチェックしてみて。
    
</p>

<div class="linetxt en_r">
    <img class="line_bg" src="<%= rootURL %>/assets/img/line_bg.png" alt="">
    <div class="linetxt_wrap">
        <span>Find My Favorite for Spring</span>
        <span>Find My Favorite for Spring</span>
        <span>Find My Favorite for Spring</span>
        <span>Find My Favorite for Spring</span>
    </div>
</div>