@use './_reset';
@use './_mixin' as *;
@use './_common' as c;


.anchor{
    margin-top: -3%;
    padding-bottom: calc(43 / c.$spw) * 100%;
    position: relative;
    z-index: 50;
    @include pc{
        margin-top: 0;
        padding-bottom: 0;
    }
    &.move{
        .anchor_list{
            .anchor_inner{
                .anchor_item{
                    transform: translateX(-50%);
                    opacity: 1;
                    img{
                        animation: anchorItem 1.3s .7s linear forwards;
                    }
                }
                .anchor_numbg{
                    transform: scale(1);
                    opacity: 1;
                    .anchor_num{
                        transform: scale(1);
                        opacity: 1;
                    }
                }
                .anchor_slash{
                    opacity: 1;
                }
                
            }   
            .anchor_name{
                opacity: 1;
            }
            .seven_link{
                opacity: 1;
            }
        }
    }
}

@keyframes anchorItem {
    0%{
        transform: rotate(-3deg);
    }
    25%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(-3deg);
    }
    75%,100%{
        transform: rotate(0deg);
    }

}



.acnhor_ttl {
    position: relative;
    z-index: 10;
    color: c.$main;
    text-align: center;
    font-size: calc(20 / c.$spw) * 100vw;
    
    @include pc{
        margin-bottom: 5%;
        font-size: min(calc(20 / c.$pcw) * 100vw,20px);
    }
}

.acnhor_arrow {
    margin: calc(12 / c.$spw) * 100% 0;
}

.arrow {
    position: relative;
    display: block;
    width: 26px;
    height: 6px;
    margin: 0 auto;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1px;
        height: 13px;
        border-radius: 9999px;
        background-color: c.$main;
        transform-origin: 50% calc(100% - 0.5px);
    }

    &::before {
        transform: rotate(70deg);
    }

    &::after {
        transform: rotate(-70deg);
    }
}

.arrow_1{
    animation: arrow_1 2s linear infinite;
}
.arrow_2{
    animation: arrow_2 2s linear infinite;
}

@keyframes arrow_1 {
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    10%{
        opacity: 1;
        transform: translateY(0);
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    90%,100%{
        opacity: 0;
        transform: translateY(10px);
    }
}
@keyframes arrow_2 {
    0%,20%{
        opacity: 0;
        transform: translateY(0);
    }
    35%{
        opacity: 1;
        transform: translateY(0);
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    90%,100%{
        opacity: 0;
        transform: translateY(10px);
    }
}


.anchor_list{
    display: flex;
    vertical-align: middle;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(17 / c.$spw) * 100%;
    li{
        width: calc(148.5 / c.$spw) * 100%;
        line-height: 0;
        margin-top: calc(16 / c.$spw) * 100%;
        a{
            color: c.$main;
        }
        .anchor_inner{
            position: relative;
            .anchor_circle{
                width: 100%;
                position: relative;
                z-index: 3;
            }
            .anchor_bg2{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 5;
                opacity: 0;
                transition: opacity .3s linear;
            }
            .anchor_item{
                position: absolute;
                top: 0;
                left: 50%;
                // transform: translate(-50%);
                transform: translate(-40%);
                opacity: 0;
                transition: all .3s .7s linear;
                z-index: 30;
                img{
                    transform: rotate(-3deg);
                    transform-origin: top;
                    filter: grayscale(0%);
                    transition: filter .3s linear;
                }
                &:hover{
                    img{
                        filter: grayscale(0%)!important;
                    }
                }

            }

            .anchor_numbg{
                position: absolute;
                top: 0;
                left: 0;
                width: 35px;
                height: 35px;
                text-align: center;
                color: #fff;
                background: c.$main;
                border-radius: 50%;
                display: table;
                transform: scale(0,0);
                opacity: 0;
                transition: all .3s;
                transition-timing-function: cubic-bezier(.165,.84,.44,1);
                z-index: 30;
                .anchor_num{
                    line-height: 1;
                    vertical-align: middle;
                    display: table-cell;
                    font-size: calc(12 / c.$spw * 100vw);
                    transform: scale(0,0);
                    opacity: 0;
                    transition: all .3s .2s ease;
                }
            }
        }
        .anchor_name{
            margin-top: calc(4 / 148.5) * 100%;
            font-size: calc(11 / c.$spw) * 100vw;
            line-height: 1.5;
            position: relative;
            text-align: center;
            white-space: nowrap;
            opacity: 0;
            transition: all .3s .7s linear;
            z-index: 30;
            
        }
    }
    @include pc{
        gap: unset;
        justify-content: space-between;
        li{
            width: calc(111.62 / 251.61) * 100%;
            .anchor_inner{
                .anchor_numbg{
                    width: 28px;
                    height: 28px;
                    .anchor_num{
                        font-size: min(calc(12 / c.$pcw * 100vw),12px);
                    }
                }
            }
            .anchor_name{
                font-size: min(calc(9 / c.$pcw) * 100vw,9px);
            }
        }
    }
  
}
.anchor_slash{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 7px;
    height: 1.5px;
    background: c.$main;
    transform: rotate(45deg);
    margin: 23% 0 0 21%;
    opacity: 0;
    transition: opacity .3s .5s ease;
    z-index: 30;
    @include pc{
        width: calc(5 / 111.62) * 100%;
        height: 1px;
        margin: 25% 0 0 22%;
    }
    @include pcw{
        margin: 21% 0 0 19%;
    }
}

.seven_link{
    width: calc(142.77 / c.$spw) * 100%!important;
    padding-top: calc(142.77 / c.$spw) * 100%;
    position: relative;
    height: 0;
    border: solid 1px c.$main;
    border-radius: 50%;
    opacity: 0;
    transition: all .3s .7s linear;
    
    a{
        width: calc(127 / 142.77) * 100%;
        padding-top: calc(127 / 142.77) * 100%;
        content: "";
        position: absolute;
        height: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: solid 1px c.$main;
        border-radius: 50%;
        display: block;
        transition: all .3s ease;
        .check{    
            width: calc(83 / 127) * 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            line-height: 0;
        }
    }
    &:hover{
        a{
            width: 100%;
            padding-top: 100%;
        }
    }
    @include pc{
        width: calc(107.31 / 251) * 100%!important;
        padding-top: calc(107.31 / 251) * 100%;
        a{
            padding-top: calc(95.46 / 107.31) * 100%;
            width: calc(95.46 / 107.31) * 100%;
            .check{
                width: calc(62 / 107.31) * 100%;   
            }
        }
    }
}

.anchor_1{
    .anchor_item{
        margin-top: calc(17 / 148.5) * 100%;
        width: calc(117 / 148.5) * 100%;
        @include pc{
            margin-top: calc(13 / 111.62) * 100%;
            width: calc(87.94 / 111.62) * 100%;   
        }
    }
}
.anchor_2{
    .anchor_item{
        margin-top: calc(9.2 / 148.5) * 100%;
        width: calc(69 / 148.5) * 100%;
        @include pc{
            margin-top: calc(7 / 111.62) * 100%;
            width: calc(51.86 / 111.62) * 100%;   
        }
    }
}
.anchor_3{
    .anchor_item{
        margin-top: calc(15 / 148.5) * 100%;
        width: calc(91 / 148.5) * 100%;
        @include pc{
            margin-top: calc(11.4 / 111.62) * 100%;
            width: calc(68.4 / 111.62) * 100%;   
        }
    }
}
.anchor_4{
    .anchor_item{
        margin: calc(28 / 148.5) * 100% auto 0 5%;
        width: calc(135 / 148.5) * 100%;
        @include pc{
            margin: calc(21.4 / 111.62) * 100% auto 0 calc(2 / 111.62) * 100%;
            width: calc(101.82 / 111.62) * 100%;   
        }
    }
}
.anchor_5{
    .anchor_item{
        margin-top: calc(27.5 / 148.5) * 100%;
        width: calc(117 / 148.5) * 100%;
        @include pc{
            margin-top: calc(20.6 / 111.62) * 100%;
            width: calc(87.94 / 111.62) * 100%;   
        }
    }
}
.anchor_6{
    .anchor_item{
        margin-top: calc(25.5 / 148.5) * 100%;
        margin-left: 3%;
        width: calc(118 / 148.5) * 100%;
        @include pc{
            margin: calc(19.6 / 111.62) * 100% auto 0 calc(2 / 111.62) * 100%;
            width: calc(88.7 / 111.62) * 100%;   
        }
    }
}
.anchor_7{
    .anchor_item{
        margin-top: calc(10.5 / 148.5) * 100%;
        width: calc(68 / 148.5) * 100%;
        @include pc{
            margin-top: calc(7.8 / 111.62) * 100%;
            width: calc(51.11 / 111.62) * 100%;   
        }
    }
}



// SPのみ
.anchor_line-animation{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    z-index: 5;
    height: 50px;
    margin-top: -1px;
    span{
        line-height: 0;
        flex-shrink: 0;
        animation: linear loop-text 8s infinite;
        width: 100%;
    }
    @include pc{
        display: none;
    }
}