
@use './_reset';
@use './_mixin' as *;
@use './_common' as c;


.pc-left{
    position: relative;
    height: 100%;
    &.move{
        .left_logo,.left_sns{
            opacity: 1;

        }
    }
}

.left-inner{
    position: fixed;
    width: calc(450.46 / c.$pcw) * 100%;
    
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: calc(90 / c.$pcw) * 100%;
    @include pcw{
        max-width: 500px;
        margin-left: calc(150 / c.$pcw) * 100%;
    }
}





.left_logo{
    opacity: 0;
    transition: opacity .5s 1.5s linear;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100.55 / c.$pcw) * 100%;
    margin: calc(22 / c.$pcw) * 100% 0 0 calc(24 / c.$pcw) * 100%;
}

.left_sns{
    opacity: 0;
    transition: opacity .5s 1.5s linear;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100.55 / c.$pcw) * 100%;
    margin: 0 0 calc(22 / c.$pcw) * 100% calc(24 / c.$pcw) * 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    .pc_x{
        width: calc( 23.25/ 100.55) * 100%;
    }
    .pc_insta{
        width: calc( 23.21/ 100.55) * 100%;
    }
    .pc_tiktok{
        width: calc( 20.34/ 100.55) * 100%;
    }
}