@use './_reset';
@use './_mixin' as *;
@use './_common' as c;

.wrapper{
    @include pc{
        display: grid;
        align-items: start;
        grid-template-columns: calc(613 / c.$pcw) * 100% calc(425 / c.$pcw) * 100% calc(384 / c.$pcw) * 100%;
    }
}

.contents{
    @include pc{
        border-left: c.$main solid 1px;
        border-right: c.$main solid 1px;
    }

}


.pc-right{
    position: sticky;
    top: 0;
    min-height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include pc{
        display: flex;
    }
    .right_inner{
        width: calc(251.61 / 384) * 100%;
    }
}