@use './_reset';
@use './_mixin' as *;
@use './_common' as c;

.wrapper{
    @include pc{
        display: grid;
        align-items: start;
        grid-template-columns: calc(613 / c.$pcw) * 100% calc(425 / c.$pcw) * 100% calc(384 / c.$pcw) * 100%;
    }
}

.contents{
    @include pc{
        border-left: c.$main solid 1px;
        border-right: c.$main solid 1px;
    }

}


.pc-right{
    position: sticky;
    top: 0;
    min-height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include pc{
        display: flex;
    }
    .right_inner{
        width: calc(251.61 / 384) * 100%;
    }
}


.l-fix__scrollbar {
    @include pc {
        content: "";
        position: absolute;
        z-index: 999;
        bottom: 0;
        right: 0;
        height: 56px;
        width: 2px;
        transition: ease opacity 0.2s;
        background: c.$main;
        opacity: 0;
        
        
    }
    @include pcw{
        margin-right: calc(190 / c.$pcw) * 100%;
    }
    

    .current {
        @include pc {
            position: absolute;
            z-index: 5;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 7px;
            height: 7px;
            background-color: none;
            border: solid 1px c.$main;
            border-radius: 50%;
        }
    }
}